/* `XHTML, HTML4, HTML5 Reset
----------------------------------------------------------------------------------------------------*/

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

li {
/*
  For IE6 + IE7.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9.
*/
  overflow: hidden;
}

@font-face {
	font-family: "DIN";
	src: url('DINWeb.eot');
	src: url('DINWeb.eot?iefix') format('eot'),
	url('DINComp.ttf') format('truetype'),
	url('DINWeb.woff') format('woff');
}

@font-face {
	font-family: "DIN Medium";
	src: url('DINWeb-Medium.eot');
	src: url('DINWeb-Medium.eot?iefix') format('eot'),
	url('DINComp-Medium.ttf') format('truetype'),
	url('DINWeb-Medium.woff') format('woff');
}



@font-face {
	font-family: "DIN Bold";
	src: url('DINWeb-Bold.eot');
	src: url('DINWeb-Bold.eot?iefix') format('eot'),
	url('DINComp-Bold.ttf') format('truetype'),
	url('DINWeb-Bold.woff') format('woff');
}




body { font: 0.9em/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; color: #333; min-width: 980px;}

pre, 
code { font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace; }
a { color: #063; text-decoration: none;}
a:hover { text-decoration: underline; }
p { margin: 1em 0; }

/* Set Custom Fonts */
h1 { font-family: 'DIN', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; }
.main-nav { font-family: 'DIN Bold', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; }
.masthead nav { font-family: 'DIN Medium', 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif; }

.quicknavigationcontainer .ualink { text-indent: -9999px; width: 150px; display: inline; float: left;}
.quicknavigation { margin: 20px 0px 10px 0px; }
.quicknavigation { text-align: right; width:550px; display: inline; float: left; margin-left: 20px; margin-right: 0px; }
.quicknavigation ul { margin:0px; list-style: none; }
.quicknavigation ul li { margin:0px; list-style: none; display: inline; }
.quicknavigation ul li a { font-size: 0.85em; padding: 0px 8px 0px 4px; border-right:1px solid #999; color: #333; display: inline; }
.quicknavigation ul li:last-child a { border: 0px; }
.quicknavigation ul li.last a { border:0px }
.quicknavigation .search {margin-right: 0px; width: 240px; margin-left: 20px; float: left; display:inline; }
.quicknavigation .search input { margin-bottom: 5px; float:left;  height: 16px; width: 165px;}
.quicknavigation .search button { float: right;margin:0px; font-size: 11px; width:60px; height:24px; }

.bannercontainer { background: transparent url('img/masthead.jpg') no-repeat top left; margin:0px; width: 980px; height: 75px; }
.masthead h1 { text-indent: -9999px; margin: 15px 0px 15px 20px; display: inline; float: left; width: 220px; }
.masthead h1 a { display: block; width: 188px; height: 44px; background: transparent url(../img/ualberta.png) no-repeat; }
.masthead nav { float: right; margin: 40px 20px 14px 0px; }
.masthead nav ul,
.masthead nav ul li { font-size: 0.95em; margin:0px; list-style: none; display: inline; padding-left: 20px;}
.masthead nav ul li a { color: #fff; text-shadow: 1px 1px 2px #030; }

.main-nav { background: transparent url('../img/main-nav.gif') no-repeat top left; margin:0px; width: 980px;  }
.main-nav ul li { margin:5px 0px; list-style: none; float: left; }
.main-nav ul li a { display: block; font-weight: bold; padding: 0px 25px; margin: 8px 0px; font-size: 1em; line-height: 0.9em;letter-spacing: 0.05em; font-weight: bold; text-transform:uppercase; color: #444; border-right: 2px solid #ccc;  }
.main-nav ul li:first-child a { padding-left: 20px; }
.main-nav ul li:last-child a { padding-right: 20px; text-align:right; }
.main-nav ul li:last-child a { border: 0px; }
.main-nav ul li a:hover { color: #063; text-decoration: none; }

.main-nav .nav-why a { width: 115px; padding-left: 20px; }
.main-nav .nav-faculties a { width: 180px; text-align: center; }
.main-nav .nav-research a { width: 80px; text-align: center; }
.main-nav .nav-admissions a { width: 90px; text-align: center; }
.main-nav .nav-campuslife a { width: 100px; text-align: center; }
.main-nav .nav-news a { width: 115px; border: 0px; padding-right: 20px; }

.breadcrumb { padding: 10px 0px; font-size: 0.85em; width: 960px; margin: 5px 20px 15px 20px; }
.breadcrumb ul li { display: inline; }
.breadcrumb ul li a {  }
.breadcrumb ul li:after { content: " / "; padding: 0px 6px; }
.breadcrumb ul li:last-child:after { content: ""; }

#content>header { margin: 0px 20px 20px 20px; }
#content>header h1 { font-weight: normal; font-size: 1.8em; text-transform: uppercase; clear: both; }
#content section header,
#content article header { margin: 0px 0px 15px 0px; }
#content section header h1,
#content article header h1 { font-size: 1.3em; font-weight: normal;  }
#content p { font-size: 0.95em; }
#content aside .sidebox { border: 1px solid #e6e6e6; -webkit-border-radius: 5px; -moz-border-radius: 5px; color: #555; padding: 15px; margin: 15px 0px; font-size: 0.9em;}
#content aside section.sidebox header { margin-bottom: 5px; }
#content aside section.sidebox header h1 { color:#333; font-size: 1.2em; font-weight: normal; text-transform: uppercase; }


/** Columns Setup */
#content.one-column #column1,
#content.one-column .column1 { margin: 20px; }

#content.one-column-nav #feature { width: 740px; display: inline; float: left; margin-left: 20px; margin-right: 0px; }
#content.one-column-nav #column1,
#content.one-column-nav .column1 { width: 740px; display: inline; float: left; margin-left: 20px; margin-right: 0px; }
#content.one-column-nav #columns-wrapper { width: 760px; float: left; }

#content.two-column #column1,
#content.two-column .column1 { width: 660px; display: inline; float: left; margin-left: 20px; margin-right: 0px; }
#content.two-column #column2,
#content.two-column .column2 { width: 260px; display: inline; float: left; margin-left: 20px; margin-right: 0px; }

#content.two-column-nav #column1,
#content.two-column-nav .column1 { width: 460px; display: inline; float: left; margin-left: 20px; margin-right: 0px; }
#content.two-column-nav #column2,
#content.two-column-nav .column2 { width: 260px; display: inline; float: left; margin-left: 20px; margin-right: 0px; }
#content.two-column-nav #feature { width: 760px; display: inline; float: left; margin-left: 20px; margin-right: 0px; }
#content.two-column-nav #columns-wrapper { width: 760px; float: left; }

#content.three-column #column1,
#content.three-column #column2,
#content.three-column #column3,
#content.three-column .column { width:300px; display: inline; float: left; margin-left: 20px; margin-right: 0px; }

#content.three-column-nav #feature { width: 760px; display: inline; float: left; margin-left: 20px; margin-right: 0px; }
#content.three-column-nav #column1,
#content.three-column-nav #column2,
#content.three-column-nav #column3,
#content.three-column-nav .column { width:230px; display: inline; float: left; margin-left: 20px; margin-right: 0px; }
#content.three-column-nav #columns-wrapper { width: 760px; float: left; display: inline; }

.subnav { float: left; width: 198px; background: #f5f5f5; border: 1px solid #e6e6e6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px 5px 5px 5px;  }
.subnav>ul { padding: 10px 0px; }
.subnav ul li { list-style: none; padding: 0px 10px; }
.subnav ul li ul li { margin-left: 20px; font-size: 0.95em; }
.subnav ul li a { display: block; margin: 4px 0px; padding: 0px 10px; }
.subnav ul li a:hover { background: #fff; }

.feature { background: #e6e6e6; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px 5px 5px 5px; padding: 15px 0px; margin-bottom: 1.75em; }
.feature h1,
.feature p { padding: 0px 20px; }
.feature p { margin-bottom: 0px; }

.feature.carousel { width:980px; padding: 30px 0px 40px 0px; margin: 0px; background: transparent url('../img/carousel.gif') no-repeat bottom left; height: 300px; margin-bottom: 20px; }
.feature.carousel h1 { text-transform: uppercase;  font-size: 3em; float: left; width: 420px; font-weight: normal; color: #7ab800; line-height: 0.85em; margin-bottom: 20px; margin-top: 10px; }
.feature.carousel h1 span { display:block; color: #666; }
.feature.carousel p { color: #666; }
.feature.carousel img { margin: 0px 20px 0px 20px; float: right; }
.feature.carousel .feature-link { margin: 30px 0px 20px 0px; }
.feature.carousel .feature-link a { display: inline; padding: 10px 40px 8px 14px; background: #fff url('../img/button-arrow.gif') no-repeat right top; box-shadow: 1px 1px 4px 0px #ccc; border-radius: 2em; -webkit-border-radius: 2em; -moz-border-radius: 2em; font-size: 1em; border: 1px solid #ccc; }
.feature.carousel .feature-link a:hover { box-shadow: 1px 1px 8px 0px #ccc; }
.feature.carousel ul.feature-sub-links { margin:20px 0px; list-style:none; }
.feature.carousel ul.feature-sub-links li { margin:0px; list-style:none; }
.feature.carousel ul.feature-sub-links li { margin-left: 20px; display: inline; font-size: 0.9em; }
.feature.carousel ul.feature-sub-links li a { color: #666; font-style:italic; background: transparent url('../img/feature-sub-links.gif') no-repeat right top; padding-right: 20px; }
.feature.carousel ul.feature-sub-links li a:hover { color: #444; background-position: right bottom; }


#faculties { width: 470px; margin-left: 20px; margin-right: 10px; display: inline; float: left; }

#faculties-list { list-style: none; }
#faculties-list li { margin-bottom: 1px; }
#faculties-list li a { display: inline-block; padding: 2px 8px; -webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px 12px 12px 12px; }
#faculties-list li:nth-child(even) a { background: #e6f3ea; }
#faculties-list li a:hover { background: #c3e0cd; }

.link-box-list { font-size: 0.95em; }
.link-box-list ul {  margin-bottom: 25px;  }
.link-box-list ul li { list-style: none; background: #eee; padding: 10px 20px; margin: 10px 0px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px 5px 5px 5px;}
.link-box-list ul li p { margin: 0px; }
.link-box-list ul li a:after { content: " \3E\ "; }

#programs { }
#programs ul li { padding: 10px 10px 10px 75px; }

aside { display: inline; float: left; margin-left: 10px; margin-right: 0px; width: 190px; }

.box { background: #f5f5f5; border: 1px solid #e6e6e6; box-shadow: 1px 1px 4px 0px #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px 5px 5px 5px; color: #555; padding: 15px 0px; font-size: 0.95em; margin-bottom:20px;  }
.box h1,
.box p { padding:0px 20px; margin:0px }
.box h1 { text-shadow: 1px 1px 2px #bbb;  }
.box.column1 { margin-left: 0px; }

.sidebox ul,
.sidebox ul li { margin: 0px; list-style: none; }
.sidebox ul li a { display: block; font-size: 0.9em; margin: 4px 0px; color: #063 }
.sidebox p { margin: 0px; }

footer { clear: both; border-top: 1px solid #ccc; margin: 30px 0px; font-size: 0.8em; padding-top: 8px;}
footer nav { float: left; }
footer nav ul li {  margin:0px; list-style: none; display: inline; padding-right: 4px; }
footer nav ul li a { text-decoration: none; }
footer p { margin: 0px; text-align: right; }

section header { margin-bottom:10px; }
section>header h1 { text-transform: uppercase; color:#666; font-weight: normal; font-size: 1.5em; }
section>header h1 span { color: #093; }

#why-ualberta h1 { font-size: 1.8em; }

#explore h1 { font-size: 1.8em; }
#explore ul li { list-style:none; }

#calendar-link a { display: block; border-top: 1px dashed #ddd; margin-top: 10px;  padding-top: 5px; font-size: 1.05em; }
#apply-link { margin:-33px 0px 0px 0px; }
#apply-link a { text-transform: uppercase; background: yellow; font-size: 1.4em; padding: 15px 20px; display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px 5px 5px 5px; color: #333; font-weight: bold; }

.container, .quicknavigationcontainer { margin-left: auto; margin-right: auto; width: 980px; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24 { display: inline; float: left; margin-left: 20px; margin-right: 0px; }

.left.box.grid_1,
.left.box.grid_2,
.left.box.grid_3,
.left.box.grid_4,
.left.box.grid_5,
.left.box.grid_6,
.left.box.grid_7,
.left.box.grid_8,
.left.box.grid_9,
.left.box.grid_10,
.left.box.grid_11,
.left.box.grid_12,
.left.box.grid_13,
.left.box.grid_14,
.left.box.grid_15,
.left.box.grid_16,
.left.box.grid_17,
.left.box.grid_18,
.left.box.grid_19,
.left.box.grid_20,
.left.box.grid_21,
.left.box.grid_22,
.left.box.grid_23,
.left.box.grid_24 { margin-left: 0px; }

.container .grid_1 {	width:20px; }
.container .grid_2 {	width:60px; }
.container .grid_3 { width:100px; }
.container .grid_4 {	width:140px; }
.container .grid_5 {	width:180px; }
.container .grid_6 {	width:220px; }
.container .grid_7 {	width:260px; }
.container .grid_8 {	width:300px;}
.container .grid_9 {	width:340px;}
.container .grid_10 {width:380px;}
.container .grid_11 {width:420px;}
.container .grid_12 {width:460px;}
.container .grid_13 {width:500px;}
.container .grid_14 {width:540px;}
.container .grid_15 {width:580px;}
.container .grid_16 {width:620px;}
.container .grid_17 {width:660px;}
.container .grid_18 {width:700px;}
.container .grid_19 {width:740px;}
.container .grid_20 {width:780px;}
.container .grid_21 {width:820px;}
.container .grid_22 {width:860px;}
.container .grid_23 {width:900px;}
.container .grid_24 {width:940px;}

.container .grid_1.box {width:18px; }
.container .grid_2.box {width:58px; }
.container .grid_3.box {width:98px; }
.container .grid_4.box {width:138px; }
.container .grid_5.box {width:178px; }
.container .grid_6.box {width:218px; }
.container .grid_7.box {width:258px; }
.container .grid_8.box {width:298px;}
.container .grid_9.box {width:338px;}
.container .grid_10.box {width:378px;}
.container .grid_11.box {width:418px;}
.container .grid_12.box {width:458px;}
.container .grid_13.box {width:498px;}
.container .grid_14.box {width:538px;}
.container .grid_15.box {width:578px;}
.container .grid_16.box {width:618px;}
.container .grid_17.box {width:658px;}
.container .grid_18.box {width:698px;}
.container .grid_19.box {width:738px;}
.container .grid_20.box {width:778px;}
.container .grid_21.box {width:818px;}
.container .grid_22.box {width:858px;}
.container .grid_23.box {width:898px;}
.container .grid_24.box {width:938px;}

.container .grid_1.full {width:40px; }
.container .grid_2.full {width:80px; }
.container .grid_3.full {width:120px; }
.container .grid_4.full {width:160px; }
.container .grid_5.full {width:200px; }
.container .grid_6.full {width:240px; }
.container .grid_7.full {width:280px; }
.container .grid_8.full {width:320px;}
.container .grid_9.full {width:360px;}
.container .grid_10.full {width:400px;}
.container .grid_11.full {width:440px;}
.container .grid_12.full {width:480px;}
.container .grid_13.full {width:520px;}
.container .grid_14.full {width:560px;}
.container .grid_15.full {width:600px;}
.container .grid_16.full {width:640px;}
.container .grid_17.full {width:680px;}
.container .grid_18.full {width:720px;}
.container .grid_19.full {width:760px;}
.container .grid_20.full {width:800px;}
.container .grid_21.full {width:840px;}
.container .grid_22.full {width:880px;}
.container .grid_23.full {width:920px;}
.container .grid_24.full {width:980px;}

.container .grid_1.full.box {width:38px; }
.container .grid_2.full.box {width:78px; }
.container .grid_3.full.box {width:118px; }
.container .grid_4.full.box {width:158px; }
.container .grid_5.full.box {width:198px; }
.container .grid_6.full.box {width:238px; }
.container .grid_7.full.box {width:278px; }
.container .grid_8.full.box {width:318px;}
.container .grid_9.full.box {width:358px;}
.container .grid_10.full.box {width:398px;}
.container .grid_11.full.box {width:438px;}
.container .grid_12.full.box {width:478px;}
.container .grid_13.full.box {width:518px;}
.container .grid_14.full.box {width:558px;}
.container .grid_15.full.box {width:598px;}
.container .grid_16.full.box {width:638px;}
.container .grid_17.full.box {width:678px;}
.container .grid_18.full.box {width:718px;}
.container .grid_19.full.box {width:758px;}
.container .grid_20.full.box {width:798px;}
.container .grid_21.full.box {width:838px;}
.container .grid_22.full.box {width:878px;}
.container .grid_23.full.box {width:918px;}
.container .grid_24.full.box {width:978px;}

/* http://sonspring.com/journal/clearing-floats */
.clear {  clear: both;  display: block;  overflow: hidden;  visibility: hidden;  width: 0;  height: 0; }

/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after { content: '.';  display: block;  overflow: hidden;  visibility: hidden;  font-size: 0;  line-height: 0;  width: 0;  height: 0; }
.clearfix:after,
.container:after {  clear: both; }

/*
  The following zoom:1 rule is specifically for IE6 + IE7.
  Move to separate stylesheet if invalid CSS is a problem.
*/
.clearfix,
.container { zoom: 1; }

